set editing-mode vi
set keymap vi-insert
## arrow up
"\e[A":history-search-backward
### arrow down
"\e[B":history-search-forward
set keymap vi-command
## arrow up
"\e[A":history-search-backward
"k":history-search-backward
### arrow down
"\e[B":history-search-forward
"j":history-search-forward
