set editing-mode vi
set keymap vi-command
## arrow up
"k":history-search-backward
### arrow down
"j":history-search-forward

set keymap vi-insert
## arrow up
"\C-k":history-search-backward
### arrow down
"\C-j":history-search-forward
## move forward
"\C-l":forward-char
## move backward
"\C-h":backward-char
